Dockerfile
.dockerignore
node_modules
/node_modules/
npm-debug.log
dist

.vscode/
npm-debug.log
dist/
graphql/
test/

!package.json
!yarn.lock
!.yarnrc
!.npmrc

!src/
!test/

!.eslintrc.js
!.eslintignore
!.prettierrc
!nest-cli.json
!nodemon-debug.json
!nodemon.json
!tsconfig.build.json
!tsconfig.json